body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #1f1151;
    background-color: #bbd3f6;
}

#title {
    padding-bottom: 5px;
    height: 150px;
    width: 400px;
}

#menu-container {
    padding: 5px;
}

#game-container {
    padding: 5px;
}

#board {
    width: 240px;
    height: 240px;
    background-color: rgb(26, 26, 173);
    border: 10px solid #1f1151;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 78px;  /* Розмір для менших картинок, 240px / 3 = 80px мінус бордюри */
    height: 78px; /* Те саме для висоти */
    border: 1px solid #1f1151;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 3px solid #1f1151;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1f1151;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3c318e;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

button:active {
    background-color: #2a216e;
}
